<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <div id = "app">
        <form action=""></form>
      <select v-model="country" @change="changed" v-if="countries.length">
        <option value="">Please select a country</option>
      <option v-bind:value="country.code" v-for="country in countries">{{country.name}}</option>

      </select> 
    <button>Submit</button>
    </forn>
      {{country}}
    </div>
<script>
    let app= new Vue({
        el:'#app',
        data:{
            country:'',
            countries:[]
        },
        methods:{
            
        },
        mounted(){
            setTimeout(()=>{
            this.countries = [
                {code:'UK',name:'United Kingdoms'},
                {code:'IN',name:'India'},
                {code:'US',name:'United States'}
            ]

            },1000)
        }
        
    })
    </script>
  </body>
</html>